@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --pr-color: #048853;
}

body {
  font-family: 'Comic Neue', cursive;
  background-color: transparent;
}

#hero {
  background: linear-gradient(160deg, var(--pr-color), #0000);
  height: 100vh;
  width: 100%;
  color: #fff;
}

.img-hero {
  height: 100%;
}

.button-primary {
  background-color: transparent;
  border: none;
  margin-right: 20px;
}

.button-secondary {
  width: 133px;
  height: 40px;
  background-color: #fff;
  border: none;
  color: var(--pr-color);
  border-radius: 50px;
}

#hero h1 {
  font-weight: 600;
}

#hero .findhouse {
  width: 237px;
  height: 70px;
  background-color: white;
  border: none;
  border-radius: 50px;
  color: var(--pr-color);
}

#hero button:active {
  background-color: var(--pr-color);
  transition: all ease-in-out 0.3s;
}

.navbar {
  z-index: 3;
}

* {
  z-index: 2;
}

.img-aksen {
  z-index: 1;
  height: 100%;
}

.img-hero {
  z-index: 1;
}

/* Layanan */
.layanan-title h2 {
  font-weight: 600;
  color: var(--pr-color);
  line-height: 22px;
  font-size: 48px;
}

.card {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0 7px 3px black;
}

.card-title {
  height: 138;
  font-weight: bold;
  font-size: 23px;
}

.card-text {
  height: 63;
  font-weight: 273px;
  font-size: 18px;
}

.card:hover {
  background-color: var(--pr-color);
  transition: all ease-in-out 0.3;
  color: white;
}

.icon-layanan:hover {
  background-color: white;
  border-radius: 50%;
}

/* temukan rumah */
#temukanrumah {
  background-image: url(../assets/img/Img-search.png);
  width: 100%;
  height: 100vh;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

#temukanrumah .rumah-header {
  background-color: #fff0f5;
  width: 257px;
  border-radius: 5px;
  color: #000;
}

#temukanrumah .rumah-header .active {
  color: var(--pr-color);
}
#temukanrumah .tab-content {
  background-color: #fff;
  height: 70px;
  border-radius: 5px;
  border: none;
}

.btn-search {
  height: 88px;
  background-color: #fff;
  color: var(--pr-color);
  border: none;
  border-radius: 5px;
}

.btn-search:focus {
  border: none;
}

.button-cari {
  width: 135px;
  height: 88px;
  font-size: 20px;
  font-weight: bold;
}

#rekomendasi .card {
  width: 363px;
  height: 469px;
  margin: 0;
  line-height: 2px;
}

#rekomendasi .card-img-top {
  width: 351px;
  height: 280px;
}
